node_modules
**/node_modules
.pnpm-store
.pnpm
pnpm-debug.log
node_modules.tar
dist
build
.next
.turbo
.cache
coverage
.DS_Store
.vscode
.idea
.git
.gitignore
*.log
*.tar
tmp
temp
tests
*.local
*.env
env.local
.env
.env.*
docker-compose.override.yml
infra/minio_data
**/uploads
**/fixtures
